

<div class="container mt-4">
    <h2>Lista de Pessoas</h2>

    <table class="table table-bordered mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">CPF</th>
                <th scope="col">Foto</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.Email</td>
                    <td>@person.CPF</td>
                    <td>@person.PhotoPath</td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = person.Id })" class="btn btn-primary">Editar</a>
                        <a href="@Url.Action("DeleteConfirmation", new { id = person.Id })" class="btn btn-danger ml-2">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button onclick="location.href='@Url.Action("Create", "Register")'" class="btn btn-success mt-3">Criar Novo</button>
</div>
